/* Reset some default styles */
body {
background-color: #242424;
}
h1 {
color:antiquewhite
}

input {
    border-radius: 5px;
}

button {
background-color: rgb(17, 140, 222);
border-radius: 5px;
border-style: solid;
border-color: antiquewhite;
border-width: 0px;
padding
}

button:hover {
  background-color: #e5e7eb;
}

#output {
background-color: aliceblue;

}
